*{
    font-family: 'Lobster', cursive;
  
  }
  .services {
      margin-top: 40px;
      display: inline-flex;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      
    }
    
    .services .service {
      padding: 30px;
      
    }
    
    .services .service:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
    
    .services .service h2 {
      font-size: 24px;
      font-weight: 500;
      margin-top: 20px;
      color: var(--secondary-color);
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    
    .services .service .icon img {
      max-width: 300px;
    }
    nav{
        font-family: 'Lobster', cursive;
      }
      .sm{
        display:flex;
        justify-content: center;
        margin: 20px 0;
      }
      
      
      
      @media screen and(max-width: 600px){
        .carousel-inner{
          width: 100%;
          height: auto;
          object-fit: cover;
          background-size: 100%;
          padding: 0;
          flex: 100%;
          max-width: 100%;
        }
      }
      .logo{
        width: 80px;
        padding: inherit;
        border-radius: 25px;
      }
      