.carousel-item {
  height: 32rem;
  background: #777;
  color: white;
  position: relative;
}
.carousel-inner {
  place-items: center;
}
.logo{
  width: 80px;
  padding: inherit;
  border-radius: 25px;
}

